<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Intranet EPSI v3 !{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{asset('css/sb-admin-2.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/liste_eleve.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/user-menu.css') }}" />
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ asset('css/vendor/jquery/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('css/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('css/vendor/metisMenu/metisMenu.min.js') }}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{{ asset('css/vendor/raphael/raphael.min.js') }}"></script>
        <script src="{{ asset('css/vendor/morrisjs/morris.min.js') }}"></script>
        <script src="{{ asset('css/data/morris-data.js') }}"></script>
        <script type="text/javascript" src="{{ asset('css/jquery.js') }}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('css/dist/js/sb-admin-2.js') }}"></script>



    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <!-- jQuery -->

    <![endif]-->
</head>
<body>
{% block body %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">EPSI ENT</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    Dashboard
                </li>
                <li class="dropdown">
                    <a href="{{  path('inkweb_module_homepage') }}"> Modules</a>
                </li>
                <li class="dropdown">
                    <a href="https://outlook.office365.com/"> Mail</a>
                </li>
                <li class="dropdown">
                    <a href="{{ path('inkweb_eleve_homepage') }}">Eleves</a>
                </li>
                <li class="dropdown">
                    <a href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                </li>
            </ul>
        </nav>
        {{ include("InkwebUserBundle::user_menu.html.twig") }}
        <!-- /.sidebar-collapse -->

        <div id="page-wrapper" style="min-height: 912px">
            <!-- Contenu des bundles -->
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
