{% extends 'base.html.twig' %}
{% block content %}
    <h1>Mise à jour d'un module</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
<table>
    <tr>
        <td>{{ form_row(form.avancement) }}</td>
    </tr>
    <tr>
        <td>{{ form_row(form.notemodule, {'label' : 'Mise à jour du cahier de texte'}) }}</td>
    </tr>
    <tr>
        <td>{{ form_row(form.enregistrer, { 'label': 'Enregistrer' }) }}</td>
    </tr>
</table>
    {{ form_end(form) }}
{% endblock %}


